<div class="trainingArea">
  <div>
    <video
      #myWebcam
      autoplay
      playsinline
      muted
      id="webcam"
      width="800"
      height="800"
    ></video>
  </div>
  <div class="trainingButtons">
    <button (click)="addExample('left')">LEFT</button>
    <button (click)="addExample('right')">RIGHT</button>
    <button (click)="addExample('shoot')">SHOOT</button>
    <button (click)="addExample('nothing')">NOTHING</button>
    <button (click)="startGame()" class="start-button">START</button>
  </div>
  <div id="container">
    <canvas id="game" width="320" height="720"></canvas>
  </div>
</div>
<div>
  COMMAND:
  {{ predictionObject ? predictionObject.label.toUpperCase() : "None" }}
</div>
